.modalContent {
  height: 100vh;
}

.modalBody {
  height: calc(100% - 60px);
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modalBodySpace {
  padding-inline: var(--mantine-spacing-md);
}

.musicCardList {
  flex: 1;
}
