.modalContent {
  height: 100vh;
}

.modalBody {
  height: calc(100% - 60px);
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modalBodySpace {
  padding-inline: var(--mantine-spacing-md);
}

.musicCardList {
  margin-top: 12px;
  flex: 1;
}

.musicCard {
  cursor: pointer;
  width: 100%;
  transition: background-color 0.1s;

  &:hover {
    background-color: var(--mantine-color-dark-8);
  }
}

.addButton {
  /* Virtuosoがレンダリングされる前に表示されるとカクつくので遅らせている */
  opacity: 0;
  animation: fade-in 0.1s ease-out forwards;
  animation-delay: 0.1s;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
