.modalContent {
  height: 100vh;
}

.modalBody {
  height: calc(100% - 60px);
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modalBodySpace {
  padding-inline: var(--mantine-spacing-md);
}

.musicCardList {
  margin-top: 12px;
  flex: 1;
}

.musicCard {
  cursor: pointer;
  width: 100%;
  transition: background-color 0.1s;

  &:hover {
    background-color: var(--mantine-color-dark-8);
  }
}
